* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
}

.wrapper {
    background-color: #fff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
    background-color: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.my-foto {
    width: 370px;
}

.about-me-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.contacts-container{
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.contacts-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.contacts-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #686f7a;
}

.contacts-link-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;
}

.tech-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.tech-skills-conteiner {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
}

.tech-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: #ff6b08;
}

.tech-skills-text {
    color: #999ea5;
}

.profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 24px;
}

.name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
    margin-bottom: 24px;
}

.description{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
    text-align: justify;
    color: black;
}

.info-conteiner {
    margin-bottom: 65px;
}

.about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 18px;
}

.projects-style {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #a2a2a2;
}

.tex-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #a2a2a2;
}

.dots {
    color: #a2a2a2;
}

.projects-item {
   font-weight: 700;
   margin-left: 17px;
}
.projects-container {
    margin-bottom: 65px;
}

.profession-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 14px;
}

.profession-company {
    color: #ff6b08;
}

.profession-time {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #a8a8a8;
    margin-bottom: 17px;
}

.profession-devider {
    font-weight: 700;
    color: black;
}

.profession-duties {
    margin-bottom: 25px; 
    text-align: justify; 
}
.profession-duties-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}

.education-conteine {
    color: #ff6b08;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
}